.projectSection {
  background-color: $one;
  box-sizing: border-box;
  color: $textLight;
  position: relative;

  min-height: 100vh;

  .header,
  .footer {
    padding: 1.5rem 0.25rem;

    &:nth-of-type(n + 0) {
      background-color: $one;
    }
    &:nth-of-type(n + 1) {
      background-color: $two;
    }
    &:nth-of-type(n + 2) {
      background-color: $three;
    }
    &:nth-of-type(n + 3) {
      background-color: $four;
    }

    h2 {
      font-size: 2rem;
      margin-right: 3rem;
    }

    .noticeContainer {
      .material-symbols-outlined {
        color: $four;
      }

      .notice {
        padding: 0 0.5rem;
      }
    }
  }
}
