.projectSection {
  box-sizing: border-box;
  background-color: $one;
  color: $textLight;
  position: relative;

  min-height: 100vh;

  .header,
  .footer {
    padding: 1.5rem 0.25rem;

    h2 {
      font-size: 2rem;
      margin-right: 3rem;
    }

    .noticeContainer {
      .material-symbols-outlined {
        color: $four;
      }

      .notice {
        padding: 0 0.5rem;
      }
    }
  }
}
