<div class="centeredContent">
  <div class="centeredTop">
    <h1>Hello!</h1>
    <h2>I am Andew Podrat!</h2>
    <p class="introduction">Welcome to my portfolio. What kind of projects are you here to see?</p>
  </div>
  
  <div class="separationBorder"></div>

  <ul class="options"> 
    <li>
      <a [routerLink]="'/games'" routerLinkActive="active"> Games & Mods </a>
    </li>
    <li>
      <a [routerLink]="'/apps'" routerLinkActive="active"> Web & Apps  </a>
    </li>
    <li>
      <a [routerLink]="'/art'" routerLinkActive="active"> Art </a>
    </li>
  </ul>
</div>