@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

$rajdhani: 'Rajdhani', sans-serif;
// 2 - $chakrapetch: 'Chakra Petch', sans-serif;
// 3 - $opensans: 'Open Sans', sans-serif;
//$montserrat: 'Montserrat', sans-serif;
//$notosans: 'Noto Sans JP', sans-serif;
//$robotomono: 'Roboto Mono', monospace;
//$unicaone: 'Unica One', cursive;
//$josefin: 'Josefin Slab', serif;

@font-face { font-family: pixel5;  src: url('~src/assets/fonts/pixel5.ttf') format("truetype"); }

$primary: #303841;
$secondary: #3a4750;
$accent: #009ab5;
$white: #eeeeee;

$primaryDarker: darken($primary, 10%);
$primaryDarker2: darken($primary, 20%);
$primaryLighter: lighten($primary, 20%);
$accentLighter: lighten($accent, 10%);

.accentHighlight {
    color: $accent;
    font-size: inherit;
    font-family: inherit;
}

@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
        font-size: $fs-font-size;
      }
      @else {
        @media screen and (min-width: $fs-breakpoint) {
          font-size: $fs-font-size;
        }
      }
    }
  }

* :not(mat-icon){
    font-family: $rajdhani;
}

.nav {
  background-color: #30384166;
  width: 100%;
  text-align: right;

  .sitename {
      color: white;
      font-size: 1.4em;
      margin: 0.6em 2em;
      letter-spacing: 0.175ch;
  }
}

mat-icon {
  margin-right: 8px;;
}

a, a:visited {
    color: $white;
}

a:hover {
    color: $accent;
}

a:active {
    color: darken($white, 50%);
}

.centeredContent {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgb(0,0,0);
    background: radial-gradient(circle, #555555cc 0%, #ffffff99 100%);
}

.centeredTop {
    color: $white;
    margin-top: 5vh;

    h1, h2, .introduction {
        margin: 1.5rem;
    }

    h1 {
        font-size: 3rem;
        flex-grow: 1;
    }

    h2 {
        font-size: 2rem;
    }

    .introduction {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.options {
    text-align: center;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    li.big {
      a {
        font-size: 2rem;
        border: 4px solid white;
        padding: 0.5em 2rem;
      }
    }
    li {

      max-width: 350px;
      margin: 24px;

        a {
            display: flex;
            padding: 0.5em 1rem;
            border-radius: 4px;

            align-items: center;
            justify-content: center;

            margin: 0;

            height: 100%;

            background-color: $accent;
            border: 2px solid white;

            color: white;
            font-size: 1.25em;
            text-decoration: none;

        }

    }
}

.logoMain {
    margin-top: 5vh;
    filter: invert(100%);
    height: 15vh;
    max-height: 150px;
}



* { box-sizing: border-box; }

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;   
  
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#vidtop-content {
	top: 0;
	color: #fff;
}

.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}

@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}