@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
        font-size: $fs-font-size;
      }
      @else {
        @media screen and (min-width: $fs-breakpoint) {
          font-size: $fs-font-size;
        }
      }
    }
  }

.heightLimited {
    max-height: 500px; 
}   

.showcaseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    
    .showcaseHeader {
        $p-font-sizes-headers: (
            null  : 1.5rem,
            640px : 1.5rem,
            1280px: 2.5rem,
            1920px: 3rem
        );
        @include font-size($p-font-sizes-headers);

        line-height: 2em;
        display: block;
        text-align: center;
        margin: 0;
        text-shadow: 3px 3px #111;
    }

    .showcaseMediaHeaderContainer {
        .showcaseMediaHeaderImage{

        }
    }

    .showcaseText {
        display: inline-block;
        margin: 20px 40px;
        max-width: 800px;

        $p-font-sizes-showcaseText: (
            null  : 0.6rem,
            640px : 0.8rem,
            1280px: 1rem,
            1920px: 1.25rem
        );
        @include font-size($p-font-sizes-showcaseText);
    }

    .showcaseImageContainer {
        width: 100%;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .showcaseImage {
            width: 25%;
            min-width: 200px;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                z-index: 10;                
            }
        }
    }

    .projectMovieContainer { 
        width: 100%;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .mediaMovie {
            width: 50%;
            min-width: 300px;   
            max-width: 550px;         
        }

        .mediaMovieBig {
            width: 100%;
        }
    }
}   