@font-face { font-family: pixel5;  src: url("/assets/fonts/pixel5.ttf") format("truetype"); }

$primary: #303841;
$secondary: #3a4750;
$accent: #00adb5;
$white: #eeeeee;

$primaryDarker: darken($primary, 10%);
$primaryLighter: lighten($primary, 10%);

@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
        font-size: $fs-font-size;
      }
      @else {
        @media screen and (min-width: $fs-breakpoint) {
          font-size: $fs-font-size;
        }
      }
    }
  }


.projectShowcaseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primaryLighter;

    margin:  0px -30px -30px -30px;
    padding-top: 10px;
    padding-bottom: 40px;
    
    .projectShowcaseContainerContent {
        width: 95%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $primary;

        box-shadow: 0 0 6px #222;

        .showcaseMenu {    
            position: -webkit-sticky;
            position: sticky;
            top: 0;

            background-color: $primaryDarker;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: center;

            z-index: 100;

            padding: 10px 20px;

            .projectNameShowcaseLabel {
                flex-grow: 1;

                $p-font-sizes-nameLabel: (
                    null  : 1.5em,
                    640px : 1.75em,
                    1280px: 3em,
                    1600px: 3em,
                    1920px: 3em
                );
                @include font-size($p-font-sizes-nameLabel);
                        
                .bitHighligherStroke {
                    margin-left: 10px;
                    font-family: pixel5;

                    color: $white;

                    font-size: 0.55em;

                    -webkit-animation: bitHightlightCycle linear infinite;
                    -moz-animation: bitHightlightCycle linear infinite;
                    animation: bitHightlightCycle linear infinite;

                    -webkit-animation-direction: forwards;
                    -moz-animation-direction: forwards;
                    animation-direction: forwards;

                    -webkit-animation-duration:2s;
                    -moz-animation-duration:2s;
                    animation-duration:2s;
                }
                
                @keyframes bitHightlightCycle {
                    0% {
                        -webkit-text-stroke: 1px $primary;
                        text-shadow:
                        3px 3px 0 $primary,
                        -1px -1px 0 $primary,  
                        1px -1px 0 $primary,
                        -1px 1px 0 $primary,
                        1px 1px 0 $primary;
                    }
                    49% {
                        -webkit-text-stroke: 1px $primary;
                        text-shadow:
                        3px 3px 0 $primary,
                        -1px -1px 0 $primary,  
                        1px -1px 0 $primary,
                        -1px 1px 0 $primary,
                        1px 1px 0 $primary;
                    }
                    50% {
                        -webkit-text-stroke: 1px $accent;
                        text-shadow:
                        3px 3px 0 $accent,
                        -1px -1px 0 $accent,  
                        1px -1px 0 $accent,
                        -1px 1px 0 $accent,
                        1px 1px 0 $accent;
                    }
                    100% {
                        -webkit-text-stroke: 1px $accent;
                        text-shadow:
                        3px 3px 0 $accent,
                        -1px -1px 0 $accent,  
                        1px -1px 0 $accent,
                        -1px 1px 0 $accent,
                        1px 1px 0 $accent;
                    }
                }
                    
                @-moz-keyframes bitHightlightCycle {
                    0% {
                        -webkit-text-stroke: 1px $primary;
                        text-shadow:
                        3px 3px 0 $primary,
                        -1px -1px 0 $primary,  
                        1px -1px 0 $primary,
                        -1px 1px 0 $primary,
                        1px 1px 0 $primary;
                    }
                    49% {
                        -webkit-text-stroke: 1px $primary;
                        text-shadow:
                        3px 3px 0 $primary,
                        -1px -1px 0 $primary,  
                        1px -1px 0 $primary,
                        -1px 1px 0 $primary,
                        1px 1px 0 $primary;
                    }
                    50% {
                        -webkit-text-stroke: 1px $accent;
                        text-shadow:
                        3px 3px 0 $accent,
                        -1px -1px 0 $accent,  
                        1px -1px 0 $accent,
                        -1px 1px 0 $accent,
                        1px 1px 0 $accent;
                    }
                    100% {
                        -webkit-text-stroke: 1px $accent;
                        text-shadow:
                        3px 3px 0 $accent,
                        -1px -1px 0 $accent,  
                        1px -1px 0 $accent,
                        -1px 1px 0 $accent,
                        1px 1px 0 $accent;
                    }
                }
                
                @-webkit-keyframes bitHightlightCycle {
                    0% {
                        -webkit-text-stroke: 1px $primary;
                        text-shadow:
                        3px 3px 0 $primary,
                        -1px -1px 0 $primary,  
                        1px -1px 0 $primary,
                        -1px 1px 0 $primary,
                        1px 1px 0 $primary;
                    }
                    49% {
                        -webkit-text-stroke: 1px $primary;
                        text-shadow:
                        3px 3px 0 $primary,
                        -1px -1px 0 $primary,  
                        1px -1px 0 $primary,
                        -1px 1px 0 $primary,
                        1px 1px 0 $primary;
                    }
                    50% {
                        -webkit-text-stroke: 1px $accent;
                        text-shadow:
                        3px 3px 0 $accent,
                        -1px -1px 0 $accent,  
                        1px -1px 0 $accent,
                        -1px 1px 0 $accent,
                        1px 1px 0 $accent;
                    }
                    100% {
                        -webkit-text-stroke: 1px $accent;
                        text-shadow:
                        3px 3px 0 $accent,
                        -1px -1px 0 $accent,  
                        1px -1px 0 $accent,
                        -1px 1px 0 $accent,
                        1px 1px 0 $accent;
                    }
                }        
            }
                
            .closeWrapper {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
            }
        }

        .showcasesContainer {

        }
    }

    @media only screen and (max-width: 1280px) {
        .projectShowcaseContainerContent {
            width: 95%;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;

        margin-bottom: 1em;

        .source, .linkTo {
            flex-grow: 1;

            font-size: 2em;
            text-align: center;
        }
    }
}
