<div    [ngClass]="project.aaOff ? 'projectContainerAAOff' : 'projectContainer'" 
        [id]=" project.style === 'customImageWrapper' ? project.customStyleData : '' "
        [ngStyle]= "project.style === 'standard' ? {'background-image': 'url(' + project.imageOrMovieBGPath + ')'} : {}">
    
    <div class="projectContent">     

        <div *ngIf=" project.style === 'customImageWrapper' " class="projectImageWrapper">
            <img class="projectImage" src="assets/res/projects/nec/eo.gif"/>
        </div>
        
        <div *ngIf="project.style=='movie'" class="projectMovieContainer">
            <video muted autoplay loop="true" class="projectMovie" >
                <source src="{{project.imageOrMovieBGPath}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <h3 class="projectNameShowcase">{{project.name}}</h3>
        <div class="projectDetailsContent">
            <h3 class="projectNameHeader">{{project.name}}</h3>
            <p class="projectDate">{{project.date}}</p>
            <p>{{project.description}}</p>
            <button class="showcase">showcase</button> 
        </div>
    </div>

</div>
