<!--<mat-expansion-panel hideToggle #mep="matExpansionPanel" 
                     class="wow fadeInUp" data-wow-delay="0.3s"
                     [id]="project.link">
    <mat-expansion-panel-header>
    <div 
        [ngClass]="project.aaOff ? 'projectContainerAAOff' : 'projectContainer'" 
        [id]=" project.style === 'customImageWrapper' ? project.customStyleData : '' "
        [ngStyle]= "mobileCheck()
                    ? project.style === 'customImageWrapper' 
                        ? {}
                        : {'background-image': 'url(' + project.fallbackImage + ')'}
                    : project.style === 'standard' 
                        ? {'background-image': 'url(' + project.imageOrMovieBGPath + ')'} 
                        : {}">
        <div class="projectContent" id="item-{{project.link}}">     

            <div *ngIf="project.style === 'customImageWrapper' " class="projectImageWrapper">
                <img class="projectImage" src="{{project.imageOrMovieBGPath}}"/>
            </div>
            
            <div *ngIf="!mobileCheck() && project.style=='movie'" class="projectMovieContainer">
                <video class="projectMovie" autoplay playsinline loop muted onloadedmetadata="this.muted = true" autoplay>
                    <source src="{{project.imageOrMovieBGPath}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <h3 class="projectNameShowcase wow slideInleft" data-wow-delay="0.5s">{{project.name}}</h3>
            <div class="projectDetailsWrapper">
                <div class="projectDetailsContent">
                    <h3 class="projectNameHeader wow fadeInRight" data-wow-delay="0.7s">{{project.name}}</h3>
                    <p class="projectDate wow fadeInRight" data-wow-delay="0.95s">{{project.date}}</p>
                    <p class="projectDescription wow fadeInRight" data-wow-delay="1.1s">{{project.description}}</p>
                    <span *ngIf="project.showcases.length > 0" class="toggleShowcase wow fadeIn" data-wow-delay="1.75s">showcase</span>
                    <a *ngIf="project.showcases.length == 0 && project.linkTo != ''" class="detailsLink" data-wow-delay="1.75s" href="{{project.linkTo}}">Visit Site</a>
                    <a *ngIf="project.showcases.length == 0 && project.source != ''" class="detailsLink right" data-wow-delay="1.75s" href="{{project.source}}">Source Code (GitHub)</a>
                </div>
            </div>
        </div>
    </div>
    </mat-expansion-panel-header>
        
    <!--SHOWCASES-- >
    <div *ngIf="project.showcases.length > 0" class="projectShowcaseContainer">
        <div class="projectShowcaseContainerContent"> <!-- gradient-border-sides -- >
            <div class="showcaseMenu">
                <span class="projectNameShowcaseLabel">{{project.name}} <span class="bitHighligherStroke">Showcase</span></span>
                <div class="closeWrapper">
                    <span class="toggleShowcase" (click)="mep.expanded = !mep.expanded" style="font-size: 1.5em;">hide</span>
                </div>
            </div>

            <div class="showcasesContainer">
                <app-showcase-component *ngFor="let showcase of project.showcases" [showcase]="showcase"></app-showcase-component>
            </div>

            <div class="links">
                <a *ngIf="project.source != ''" class="source" href="{{ project.source }}">{{ project.sourceText }}</a>
                <a *ngIf="project.linkTo != ''" class="linkTo" href="{{ project.linkTo }}">{{ project.linkToText }}</a>
            </div>
        </div>
    </div>

</mat-expansion-panel>
-->
