@import "./theme/theme.scss";

:host {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.video-background {
  background: #000;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  background-color: #4e4e4e83;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }
  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}

#colorStop {
  stop-color: $three;
}

section {
  min-height: 100vh;
  margin: 0;
  width: 100%;

  &:nth-of-type(n + 1) {
    background-color: transparent;
  }

  &:nth-of-type(n + 2) {
    background-color: $one;
  }

  &:nth-of-type(n + 3) {
    background-color: $two;
  }

  &:nth-of-type(n + 4) {
    background-color: $three;
  }
}

$navHeight: 77px; //include padding below
.followNav {
  background-color: $one;
  display: block;
  height: $navHeight;
  padding: 12px 12px;
  pointer-events: none;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100000;

  nav {
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 1rem;

    @media only screen and (max-width: 550px) {
      .removeSmallNav {
        display: none;
      }
    }

    .endCap {
      //width: 100px;
    }

    a {
      border-bottom: 4px solid $four;
      display: inline-block;
      gap: 10px;
      font-weight: bold;
      padding: 0.5rem 0;
      text-transform: uppercase;
      transition: all 0.3s ease-out;

      &:hover {
        border-color: $three;
      }
    }

    .logoFixed,
    .resumeLink {
      border-radius: 12px;
      z-index: 10000000;
    }

    .logoFixed {
      height: 48px;
    }

    .resumeLink {
      background-color: $two;
      border-bottom: 4px solid $four;
      gap: 10px;
      float: right;
      font-weight: bold;
      padding: 12px;
      pointer-events: all;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-out;

      &:hover {
        border-color: $three;
      }
    }
  }
}

.addSmall {
  display: none;
}

@media only screen and (max-width: 800px) {
  .addSmall {
    display: inline-block;
  }
  .removeSmall {
    display: none;
  }
}

#home {
  color: $textLight;
  display: flex;
  margin-top: -$navHeight !important;

  a {
    box-sizing: border-box;
    cursor: pointer;
  }

  .topLogo {
    flex: 0;
    max-height: 30vh;
    max-width: 80vw;
    margin: auto;
  }

  .content {
    margin: auto 10%;

    .left {
      h1,
      .tip {
        margin: 0;
        padding: 0;
      }

      .tip {
        font-size: 12pt;
        font-weight: 100;
        letter-spacing: 0.2ch;
        text-align: right;
      }

      h1 {
        border-top: 4px solid $four;
        border-bottom: 4px solid $four;

        font-size: 40pt;
        font-weight: 400;
        margin: 0.5rem 0;
        text-align: right;
        text-transform: uppercase;
      }

      .intro {
        text-align: justify;
        font-size: 16pt;
        max-width: 468px;
      }

      a {
        border-bottom: 1px solid $four;
        float: right;
        font-size: 1rem;
        margin-top: 5px;
      }
    }

    .right {
    }
  }

  @media only screen and (max-width: 800px) {
    .topLogo {
      margin: 0 auto;
      margin-top: 50px;
    }
    .content {
      align-items: flex-start;
      margin: 5% auto;
      padding: 0 5%;
    }
  }

  .footer {
    height: 100px;
    margin: 20px auto;

    a {
      border-top: 2px solid $four;
      font-size: 14pt;
      margin: 0 auto 1rem auto;
      padding-top: 4px;
      text-decoration: none;

      animation-duration: 1.5s;
      animation-name: bob;
      animation-iteration-count: infinite;

      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
        border-color: $three;
        color: $three;

        svg {
          fill: $three;
        }
      }

      svg {
        fill: $four;
        position: relative;
        display: block;
        margin: auto;
        height: 48px;
        width: 48px;
      }
    }
  }

  @keyframes bob {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(6px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
