<div class="video-background">
  <div class="video-foreground">
    <div class="video-overlay"></div>
    <iframe
      src="https://www.youtube.com/embed/3l0N_7o6a_U?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=3l0N_7o6a_U"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>

<section id="home" class="flexCol">
  <nav class="flexRow alignItemsCenter">
    <!--<img class="logo endCap nav" src="assets/res/signature.svg" />-->
    <div class="flexGrow removeSmall"></div>
    <!--<a (click)="smoothScrollToAnchor('')">Home</a>-->
    <a
      *ngIf="resumeService.isEmptyOrApps()"
      (click)="smoothScrollToAnchor('apps')"
      >Apps</a
    >
    <a
      *ngIf="resumeService.isEmptyOrGames()"
      (click)="smoothScrollToAnchor('games')"
      >Games</a
    >
    <a (click)="smoothScrollToAnchor('about')">About</a>
    <a (click)="smoothScrollToAnchor('contact')">Contact</a>
    <a (click)="smoothScrollToAnchor('extras')">Extras</a>
    <div class="flexGrow"></div>
    <a [href]="resumeService.resumeLink">resume</a>
  </nav>

  <div class="content flexRow flexGrow">
    <div class="left width50 flexCol alignItemsEnd justifyContentCenter">
      <div class="tip header">AndrewPodrat.com - The tech porfolio of</div>
      <h1 class="heading">Andrew Podrat</h1>
      <div class="intro">
        Hello. I am Andrew Podrat, a programmer that develops and designs full
        stack web apps, mobile apps and video games.
        <a (click)="smoothScrollToAnchor('about')">read more</a>
      </div>
    </div>
    <div class="right width50 flexCol justifyContentCenter">
      <app-anim-signature loop="false"></app-anim-signature>
    </div>
  </div>

  <div class="footer flexCol justifyContentEnd">
    <a (click)="smoothScrollToAnchor('apps')"
      >check out my work
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="48"
        width="48"
        fill="white"
      >
        <path d="m24 30.75-12-12 2.15-2.15L24 26.5l9.85-9.85L36 18.8Z" />
      </svg>
    </a>
  </div>
</section>

<router-outlet></router-outlet>

<app-contact></app-contact>

<!--
<section id="extras"></section>
-->

<footer></footer>
