//Warm gray
$c50:  #faf9f7;// - black
$c100: #e8e6e1;// - black
$c200: #d3cec4;// - black
$c300: #b8b2a7;// - black
$c400: #a39e93;// - black
$c500: #857f72;// - white
$c600: #625d52;// - white
$c700: #504a40;// - white
$c800: #423d33;// - white
$c900: #27241d;// - white
$c1000: #1b1914;// - white

.imageTextContainer {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    margin: 2px;
    border: 1px solid $c300;
    border-radius: 2px;
    margin-left: 5px;

    background-color: $c600;
}

.imageTextImage {
    width: 20px;
    height: 20px;
}

.imageTextText {
    margin-left: 10px;
    font-size: 16px;
    white-space:nowrap;
}