
<h2>Games and Mods</h2>
<section id="ragnaraven">
    <div  class="projectContainer" style="background-image: url('assets/res/projects/ragnaraven/unity4scene.png')"> 
        <div class="projectContent">        
            <h3 class="projectNameShowcase">Ragnaraven</h3>
            <div class="projectDetailsContent">
                <h3 class="projectNameHeader">Ragnaraven</h3>
                <p class="projectDate">June 2018 - Current</p>
                <p>A game about nightmares, good, evil and the grey lines between choices that are blurred even further by desperation. Created originally in Unity, Ragnaraven is being ported to UE4.</p>
                <a href="project.linkTo">see more</a> 
            </div>
        </div>
    </div>
    <div class="showMore">
        <a class="showLess">show less</a>

        <h3>Scenery Showcase</h3>
        <ul class="showcaseImageList">
            <li> <img class="showcaseImage" src="assets/res/projects/ragnaraven/unity4scene.png" /> </li>
            <li> <img class="showcaseImage" src="assets/res/projects/ragnaraven/unity3snow.webp" /> </li>
            <li> <img class="showcaseImage" src="assets/res/projects/ragnaraven/unity2temple.webp" /> </li>
        </ul>

        <h3>Gameplay Showcase</h3>
        <video muted autoplay loop="true" class="showcaseMovieSingle"> <source  src="assets/res/projects/ragnaraven/graphics.mp4" type="video/mp4"> Your browser does not support the video tag. </video>
            
        <ul class="showcaseMovieList">
            <li> <video muted autoplay loop="true" class="showcaseMovie"> <source src="assets/res/projects/ragnaraven/earthProjectile2.mp4" type="video/mp4"> Your browser does not support the video tag. </video> </li>
            <li> <video muted autoplay loop="true" class="showcaseMovie"> <source src="assets/res/projects/ragnaraven/earthquake2.mp4" type="video/mp4"> Your browser does not support the video tag. </video> </li>
            <li> <video muted autoplay loop="true" class="showcaseMovie"> <source src="assets/res/projects/ragnaraven/earthrise2.mp4" type="video/mp4"> Your browser does not support the video tag. </video> </li>
            <li> <video muted autoplay loop="true" class="showcaseMovie"> <source src="assets/res/projects/ragnaraven/earthWhip2.mp4" type="video/mp4"> Your browser does not support the video tag. </video> </li>
            <li> <video muted autoplay loop="true" class="showcaseMovie"> <source  src="assets/res/projects/ragnaraven/takingDamageAndHealing2.mp4" type="video/mp4"> Your browser does not support the video tag. </video> </li>
            <li> <video muted autoplay loop="true" class="showcaseMovie"> <source  src="assets/res/projects/ragnaraven/healDemo2.mp4" type="video/mp4"> Your browser does not support the video tag.  </video> </li>
            <li> <video muted autoplay loop="true" class="showcaseMovie"> <source  src="assets/res/projects/ragnaraven/lightningDamage2.mp4" type="video/mp4"> Your browser does not support the video tag. </video> </li>
            <li> <video muted autoplay loop="true" class="showcaseMovie"> <source  src="assets/res/projects/ragnaraven/lightningShowcase2.mp4" type="video/mp4"> Your browser does not support the video tag. </video> </li>
         </ul>

        <video muted autoplay loop="true" class="showcaseMovieSingle"> <source  src="assets/res/projects/ragnaraven/moveShowcase.mp4" type="video/mp4"> Your browser does not support the video tag. </video>
        
        <section class="breweries" id="breweries">
            <ul>
            </ul>
          </section>

        <h3>Blueprints and C++ Showcase</h3>
        <ul class="showcaseImageList">
            <li> <img class="showcaseImage" src="assets/res/projects/ragnaraven/celShading.webp" /> </li>
            <li> <img class="showcaseImage" src="assets/res/projects/ragnaraven/frrcpp.webp" /> </li>
            <li> <video muted autoplay loop="true" class="showcaseMovieSingle"> <source  src="assets/res/projects/ragnaraven/materialFloor.mp4" type="video/mp4"> Your browser does not support the video tag. </video> </li>
        </ul>
    </div>
</section>

<section id="gamejams" class="projectContainer" style="background-image: url('assets/res/projects/gamejams/gameJamsCard.png')">
    <div class="projectContent">        
        <h3 class="projectNameShowcase">Game Jams</h3>
        <div class="projectDetailsContent">
            <h3 class="projectNameHeader">Game Jams</h3>
            <p class="projectDate">Since Oct 2020</p>
            <p>A list of the game jams I have participated in.</p>
            <a href="project.linkTo">see more</a> 
        </div>
    </div>
</section>

<section id="tuzg" class="projectContainer">
    <div class="projectContent">
           
        <div class="projectMovieContainer">
            <video muted autoplay loop="true" class="projectMovie" >
                <source  src="assets/res/projects/tuzg/tuzg.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        
        <h3 class="projectNameShowcase">TUZG - The Ultimate Zombie Game</h3>
        <div class="projectDetailsContent">
            <h3 class="projectNameHeader">TUZG - The Ultimate Zombie Game</h3>
            <p class="projectDate">Since Aug 2020</p>
            <p>TUZG is a game I created to test whether or not a multiplayer game could be created in mostly Blueprints in UE4; It can. I ended up creating guns, ballistics systems and a world item interface to interact with objects.</p>
            <a href="project.linkTo">see more</a> 
        </div>
    </div>
</section>

<section id="nec" class="projectContainerAAOff" style="
background: rgb(183,248,237);
background: radial-gradient(circle, rgba(183,248,237,1) 0%, rgba(44,205,177,1) 12%, rgba(34,129,113,1) 28%, rgba(51,52,82,1) 45%, rgba(53,60,89,1) 71%, rgba(25,29,44,1) 100%);">
    <div class="projectContent">        
        <div class="projectImageWrapper">
            <img class="projectImage" src="assets/res/projects/nec/eo.gif"/>
        </div>

        <h3 class="projectNameShowcase">Not Enough Combat</h3>
        <div class="projectDetailsContent">
            <h3 class="projectNameHeader">Not Enough Combat</h3>
            <p class="projectDate">Aug 2018 - Mar 2020</p>
            <p>Not Enough Combat is a mod for Minecraft (versions 1.7.10 - 1.12.2 that adds in armor for other mod added ores. Obsidian and Ender Obsidian armor and tools provide a unique vanilla end game experience.</p>
            <a href="project.linkTo">see more</a> 
        </div>
    </div>
</section>

<section id="runngunner" class="projectContainer">
    <div class="projectContent">       
        <div class="projectMovieContainer">
            <video muted autoplay loop="true" class="projectMovie">
                <source src="assets/res/projects/runngunner/bg.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        
        <h3 class="projectNameShowcase">Run N' Gunner</h3>
        <div class="projectDetailsContent">
            <h3 class="projectNameHeader">Run N' Gunner</h3>
            <p class="projectDate">Aug 2019 - Oct 2019</p>
            <p>Run N' Gunner is a school project where I was both the lead designer and project lead.</p>
            <a href="project.linkTo">see more</a> 
        </div>
    </div>
</section>