@import "theme.scss";
@import "../home-shared.scss";

#games {
  ul {
    margin: 0;
    padding: 0;
    li {
    }
  }
}

#about {
  min-height: inherit;

  .aboutContainer {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 5%;

    h3 {
      font-size: 1.75rem;
      padding: 12px 0;
      text-align: center;
      width: 100%;
    }

    #bigThree {
      gap: 12px;
      margin-bottom: 12px;

      .three {
        border-radius: 4px;
        min-width: 300px;

        .categoryHeader {
          background-color: #ffffff44;
          border-radius: 4px;

          .categoryHeaderImg {
            height: 64px;
            padding: 8px;
          }
          .categoryHeaderText {
          }
        }

        .threeContent {
          padding: 0 12px;
        }

        &:nth-of-type(1) {
          background-color: $four;
        }
        &:nth-of-type(2) {
          background-color: $two;
        }
        &:nth-of-type(3) {
          background-color: $three;
        }
      }
    }
  }
}
