
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

$rajdhani: 'Rajdhani', sans-serif;
// 2 - $chakrapetch: 'Chakra Petch', sans-serif;
// 3 - $opensans: 'Open Sans', sans-serif;
//$montserrat: 'Montserrat', sans-serif;
//$notosans: 'Noto Sans JP', sans-serif;
//$robotomono: 'Roboto Mono', monospace;
//$unicaone: 'Unica One', cursive;
//$josefin: 'Josefin Slab', serif;

//Warm gray
//$c50:  #faf9f7;// - black
//$c100: #e8e6e1;// - black
//$c200: #d3cec4;// - black
//$c300: #b8b2a7;// - black
//$c400: #a39e93;// - black
//$c500: #857f72;// - white
//$c600: #625d52;// - white
//$c700: #504a40;// - white
//$c800: #423d33;// - white
//$c900: #27241d;// - white
//$c1000: #1b1914;// - white*/

$primary: #303841;
$secondary: #3a4750;
$accent: #00adb5;
$white: #eeeeee;

* {
    //font-family: 'Montserrat', sans-serif;
    //font-family: 'Noto Sans JP', sans-serif;
    font-family: $rajdhani;
}

.sidenav-container {
    background-color: $primary;
    color: $white;
    min-height: 100vh;

    .sidenav-bar {
        background-color: darken($primary, 10%);
        color: $white;
        
        min-width: 350px;
        width: 20vw;

        #menuHeader {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
            padding-left: 30px;
            
            #logoSide {
                max-width: 50%;
                margin: auto;
                margin-left: auto;
                margin-right: auto;

                -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
                filter: invert(100%);

            }

            #identification {
                margin-top: 2rem;

                p {
                    letter-spacing: 0.5ch;
                    margin: 0;
                    padding: 0;
                }

                #nameSide {
                    font-size: 1.35rem;
                }

                #professionSide {
                    font-size: 0.9rem;
                }
            }
        }

        #navList {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;

            a {

            }
        }
    }
}

.sidenav-content {
}

.logoContainer {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $secondary;
}

.logoMain {
    filter: invert(100);
    width: 15vw;
}

.logoRight {
    margin-left: 14vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name {
    font-size: 2.5em;
}

.work {
    font-size: 1.4em;
}

a, a:visited {
    color: $white;
}

a:hover {
    color: $accent;
}

a:active {
    color: darken($white, 50%);
}

.projectsContainer {
    padding: 0;
    margin: 0;
    list-style: none;
}


/**SHOW MORE**/
.showMore {
    h3 {
        font-size: 36px;
        margin-left: 20px;
        margin-top: 100px;
    }

    padding: 20px;
}

.showcaseImageList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.showcaseImage {
    width: 80%;
    max-width: 80%;

    padding: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.showcaseMovieList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    clear: both;
}

.showcaseMovie {
    padding: 2px;
    width: 400px;
}

.showcaseMovieSingle {
    display: block;
    width: 80%;
    margin: auto;
}



