//Warm gray
$c50:  #faf9f7;// - black
$c100: #e8e6e1;// - black
$c200: #d3cec4;// - black
$c300: #b8b2a7;// - black
$c400: #a39e93;// - black
$c500: #857f72;// - white
$c600: #625d52;// - white
$c700: #504a40;// - white
$c800: #423d33;// - white
$c900: #27241d;// - white
$c1000: #1b1914;// - white

a, a:visited {
    color: $c200;
}

a:hover {
    color: $c400;
}

a:active {
    color: $c50;
}

.projectsContainer {
    padding: 0;
    margin: 0;
    list-style: none;
}

.projectContainer {
    padding: 0;
    margin: 0;
    display: flex;
    height: 50vh;

    background: white;

    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    margin-bottom: 100px;
}

.projectContainerAAOff {
    padding: 0;
    margin: 0;
    display: flex;
    height: 50vh;

    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+      */

    margin-bottom: 100px;
}

.projectContent {
    position: relative;
    display: flex;
    width: 100%;
}

.projectNameShowcase {
    position: absolute;
    letter-spacing: 0.5ch;
    margin: 0 0 20px 0;
    padding: 5px;
    padding-left: 20px;
    border-radius: 0 2px 2px 0;
    align-self: flex-end;

    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.85) 100%);
}

.projectDetailsContent {
    max-height: 100%;
    max-width: 30%;
    min-width: 300px;

    z-index: 100;
    margin: 0;    
    margin-left: auto;
    
    padding: 30px 60px 60px 60px;

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.85) 100%);
}

.projectNameHeader {
    margin: 0;
    padding: 0;
}

.projectDate {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.projLangContainer {
    padding: 0;
    margin: 0;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;

    display: none;
}

.progLangItem {
    list-style: none;
}


.projectMovieContainer {
    position: absolute;
    width: 100%; 
    height: 100%; 
    overflow:hidden;
}

.projectMovie {
    #vid{
        position: absolute;
        top: 50%; 
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto;
        z-index: -1000; 
        overflow: hidden;
      }
}