
//Warm gray
$c50:  #faf9f7;// - black
$c100: #e8e6e1;// - black
$c200: #d3cec4;// - black
$c300: #b8b2a7;// - black
$c400: #a39e93;// - black
$c500: #857f72;// - white
$c600: #625d52;// - white
$c700: #504a40;// - white
$c800: #423d33;// - white
$c900: #27241d;// - white
$c1000: #1b1914;// - white

.logoContainer {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $c600;
}

.logoMain {
    filter: invert(100);
    width: 15vw;
}

.logoRight {
    margin-left: 14vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name {
    font-size: 2.5em;
}

.work {
    font-size: 1.4em;
}

/*span {
    font-weight: bold;
    background: lightgray;
    padding: .3em .8em;
    cursor: pointer;
    user-select: none;
}

.play-container {
    padding: 3em;

    border: 1px solid lightgray;
    margin-bottom: 1em;

    input {
        padding: 1em;
        margin-bottom: 2em;
    }
}

.active {
    border: 3px solid black;
}

.notActive {
    background-color: lightGray;
}*/